<h1>Update $stylist.getName() profile </h1>

<div class="jumbotron">
  <form class="" action="/stylist/$stylist.getId()/update-success" method="post">
    <label for="description">Update Description</label>
    <input type="text" name="description" value="">
    <label for="experience">Update Experience</label>
    <input type="text" name="experience" value="">
    <button type="submit" class="btn btn-sucess" name="button">Updates</button>
  </form>
</div>
