<!DOCTYPE html>
<html>
  <head>
    <title>Top ten movies</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.google.com/specimen/Baloo+Bhaina?selection.family=Baloo+Bhaina">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <a href="/">Homepage</a>
        </div>
        <div class="col-md-2">
          <a href="/service">Service</a>
        </div>
        <div class="col-md-2">
          <a href="/stylist">Stylist</a>
        </div>
        <div class="col-md-2">
          <a href="/employment">Employment</a>
        </div>
      </div>
    </div>
  </body>
</html>
